.prato-principal-h1{
    padding-top: 30px;  
}
.conteiner{  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
}

.p-prato-principal {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    font-family: roboto;
}

.prato-principal{
    padding: 20px;
    width: 600px; 
    border-radius: 50px;
    font-size: 50px;
}

.h1-about-us,  .h1-carousel{
    text-align: center;
    font-size: 35px;
}

.p-about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px; 
    text-align:center;
    gap: 100px;
    font-family: roboto;
    font-size: 18px;
}

.section-carousel{
    position: relative;
    width: 100%;
    height: 100px;
    overflow:hidden;
   
}
.carousel-img img{
    position: absolute;
    width: 100%;
    height:340px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    
}

.carousel-img img.ativo{
    opacity: 1;
}