.prato-principal-h1{
    padding-top: 10px;  
    /*position:absolute;*/
    /*top:1.5em;*/
}

.conteiner, .about-us{  
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    gap: 15px;
}

.p-prato-principal, .section-principal {
    display: flex;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-family: roboto;
}

.prato-principal{
    padding: 10px;
    width: 600px; 
    border-radius: 50px;
    font-size: 16px;
}

.h1-about-us,  .h1-carousel{
    text-align: center;
    font-size: 30px;
}

/*.about-us{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px; 
    text-align:center;
    gap: 10px;
    font-family: roboto;
    font-size: 18px;
    margin-top: 10px;   
}*/

.p-about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px; 
    text-align:center;
    gap: 10px;
    font-family: roboto;
    font-size: 18px;
    margin-top: 10px;
}


.about-img{
display: flex;
flex-direction: row;
align-items: center;
}

.carousel{
    /*position: relative;
    width: 100%;
    height: 100px;*/
    overflow:hidden;
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
   
}
.carousel-img img{
   /* position: absolute;
    list-style: none;
    width: 100%;
    height:340px;
    opacity: 0;
    transition: opacity 3s ease-in-out;*/
    margin: auto;
    height: 400px;
    width: 100%;
}

.carousel-img img.ativo{
    opacity: 1;
}