.prato-principal-h1{
    padding-top: 10px;  
    position:absolute;
    top:1.5em;
}

.conteiner{  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

.p-prato-principal, .section-principal {
    display: flex;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-family: roboto;
}

.prato-principal{
    padding: 10px;
    /*width: 600px; */
    /*border-radius: 50px;*/
    font-size: 16px;
}

.h1-about-us,  .h1-carousel{
    text-align: center;
    font-size: 30px;
}

.p-about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px; 
    text-align:center;
    gap: 10px;
    font-family: roboto;
    font-size: 18px;
    margin-top: 10px;
}

.section-carousel{
    position: relative;
    width: 100%;
    height: 100px;
    overflow:hidden;
   
}
.carousel-img img{
    position: absolute;
    width: 100%;
    height:340px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    
}

.carousel-img img.ativo{
    opacity: 1;
}