main {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.titulo-main {
    display: flex;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    padding-bottom: 1rem; 
}

.apresentacao-pagina  {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    background-color: #F8F2E9;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.apresentacao-pagina p {
    margin-bottom: 10px;
    text-align: center;
}

.apresentacao-pagina strong {
    color: #F2BD57;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1.25rem; 
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #F2BD57;
    margin: 0 1.25rem 1.25rem 1.25rem; 
    line-height: 1.5;
}

article h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem; 
    text-align: center;
}

article p {
    font-family: 'Roboto', sans-serif;
}

article ol {
    padding-left: 20px; 
}

article ul {
    padding-left: 20px; 
}

article a {
    text-decoration: underline;
}

#primeiroBotao, #segundoBotao, #terceiroBotao, #quartoBotao, #quintoBotao {
    background-color: #F2BD57;
    color: white;
    margin-top: 1rem; 
    padding: 0.625rem 1rem; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem; 
    text-align: center;
}

#primeiroArtigo, #segundoArtigo, #terceiroArtigo, #quartoArtigo, #quintoArtigo {
    display: none;
    font-family: 'Roboto', sans-serif;
}


.pradosCasa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel {
    background: #FFFCF7;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.carousel-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 14px #F2BD57;
}

.carousel img {
    width: 200px;
    height: 200px;
}

.nome-prato {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.descricao-prato{
    padding-top: 16;
    padding-bottom: 30px;
    text-align: center;
}

.estrelas-pratos {
    font-size:25px;
    color:yellow;
    text-align: center;
}

.valor-carrinho {
    position: absolute;
    bottom: 18px;
    left: 19px;
    display: flex;
    align-items: center;
    gap: 90px;
    font-weight: bold;
}

.valor-prato {
    margin-left: 10px;
    padding: 10px;
    color: #4F2F24;
}

.adiconar-carrinho {
    margin-right: 10px;
    padding: 10px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    transition-duration: 0.3s;
}

.adiconar-carrinho:hover{
    background-color: #F2BD57;
}

#avisoCarrinho {
    display: none;
    background-color: #F2BD57;
    padding: 20px;
    box-shadow: 0px 0px 10px red;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
} 