h1 {
    color: #000;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 127px;
}
h2{
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3 {
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h4 {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5 {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
h6 {
    /* botão G  */
    color:#4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
p {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
button {
    cursor: pointer;
}
button:hover {
    box-shadow: 0px 0px 10px #F2BD57;
}

.hero-cardapio {
    width: 1288px;
    height: 681px;
    flex-shrink: 0;
    height: 681px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.hero-texto {
    height: 681px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.titulo-cardapio {
    width: 325px;
}
.subtitulo-1 {
    width: 551px;
    margin-top: 68px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subtitulo-2 {
    width: 551px;
    margin-top: 71px;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subtitulo-3 {
    width: 315px;
    margin-top: 17px;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-delivery {
    padding: 10px;
    margin-top: 48px;
    border-radius: 48px;
    background: #F2BD57;
    width: 173px;
    height: 55px;
    border: none;
    font-size: 100%;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.img-hero {
    width: 680px;
    height: 681px;
}
.categorias-cardapio {
    width: 1290px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-categorias {
    color: #000;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icones-categorias {
    width: 1290px;
    height: 132px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
}

/* categoria especiais */
#especiais, #saladas, #carnes, #vegetarianas-massas, #acompanhamentos, #bebidas, #pedidos, #delivery {
    width: 1290px;
    margin-top: 48px;
}
.especiais-titulo, .saladas-titulo, .carnes-titulo, .vegetarianas-titulo, .acompanhamentos-titulo, .sobremesas-titulo, .bebidas-titulo, .pedido-titulo, .delivery-titulo {
    width: 380px;
    height: 82px;
    border-radius: 259px;
    background: #F8F2E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vegetarianas-massas-titulos {
    display: flex;
    justify-content: space-between;
}
.massas-titulo, .lanches-titulo {
    width: 310px;
    height: 82px;
    border-radius: 259px;
    background: #F8F2E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.especiais-cards, .saladas-cards, .carnes-cards, .vegetarianas-massas-cards, .acompanhamentos-cards {
    width: 1290px;
    display: flex; 
    flex-wrap: wrap;   
}
.conteiner-especiais, .conteiner-Saladas, .conteiner-Carnes, .conteiner-VegetarianaMassas, .conteiner-Acompanhamentos { 
    width: 293.924px;
    height: 413.943px;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 28px;
    position: relative;
}
.imagemEspeciais, .imagemSaladas, .imagemCarnes, .imagemVegetarianaMassas, .imagemAcompanhamentos {
    width: 155.127px;
    height: 146.962px;
    margin-top: 13.06px;
    margin-left: 69.1px;
}
.tituloEspeciais, .tituloSaladas, .tituloCarnes, .tituloVegetarianaMassas, .tituloAcompanhamentos {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 169px;   
    margin-left: 38.1px;
}
.imagemEstrelas {
    width: 131px;
    height: 23px;
    margin-top: 80px;
    margin-left: 81.1px;
}
.descEspeciais, .descSaladas, .descCarnes, .descVegetarianaMassas, .descAcompanhamentos {
    position: absolute;
    top: 0;
    left: 0;
    width: 283px;
    text-align: center;
    margin-top: 271.96px; 
    margin-left: 5.46px;       
}
.precoEspeciais, .precoSaladas, .precoCarnes, .precoVegetarianaMassas, .precoAcompanhamentos {
    position: absolute;
    top: 0;
    left: 0;
    width: 102px;
    text-align: center; 
    margin-top: 358.96px; 
    margin-left: 14.1px; 
}
.button-especiais, .button-saladas, .button-Carnes, .button-VegetarianaMassas, .button-Acompanhamentos {
    position: absolute;
    top: 0;
    right: 0;
    width: 102.873px;
    height: 41.639px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color:#4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    margin-top: 348.63px; 
    margin-right: 18.78px;    
}

/* categoria entradas */
#entradas {
    width: 1283px;
    height: 376.96px;
    display: flex;
    align-items: center;
    margin-top: 22px;
}
#entradas button {
    position: absolute;
    top: 0;
    left: 0;
    width: 72.665px;
    height: 29.392px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 695px;
}
#entradas svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 1px;
    stroke: #000;
}
.entradas-cards {
    width: 499px;
    height: 297.683px;
    position: relative;  
}
#entradas-titulo-img {
    width: 100%;
    margin-top: 8.04px;
}
.entradas-titulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    margin-top: 133.04px;   
    margin-left: 307px; 
}
.conteiner-brusquettas {
    width: 790.124px;
    height: 376.962px;
    position: relative;  
}
.conteiner-brusquettas img {
    width: 100%;
}
.titulo-bruschetta {
    position: absolute;
    top: 0;
    left: 0;
    width: 155.943px;
    margin-top: 67.77px;
    margin-left: 338.12px;
}
/* .entrada-prato-1 {

} */
.tex-entrada-prato-1, .tex-entrada-prato-2, .tex-entrada-prato-3, .tex-entrada-prato-4, .tex-entrada-prato-5 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 126.12px;
}
.preco-entrada-prato-1, .preco-entrada-prato-2, .preco-entrada-prato-3, .preco-entrada-prato-4, .preco-entrada-prato-5{
    position: absolute;
    top: 0;
    left: 0;
    width: 83px;
    font-weight: 700;
    margin-left: 609.12px;
}
.tex-entrada-prato-1 {
    width: 287px;
    margin-top: 191.96px;
}
.entrada-prato-1 svg {
    width: 200.85px;
    margin-top: 202.48px;
    margin-left: 401.70px;
}
.preco-entrada-prato-1 {
    margin-top: 193.96px;
}
.button-entrada-prato-1 {
    margin-top: 187.79px;
}
/* .entrada-prato-2 {

} */
.tex-entrada-prato-2 {
    width: 371px;
    margin-top: 227.96px;
}
.entrada-prato-2 svg {
    width: 118.023px;
    margin-top: 239.22px;
    margin-left: 484.52px;
}
.preco-entrada-prato-2 {
    margin-top: 229.96px;
}
.button-entrada-prato-2 {
    margin-top: 224.53px;
}
/* .entrada-prato-3 {

} */
.tex-entrada-prato-3 {
    width: 290px;
    margin-top: 264.96px;
}
.entrada-prato-3 svg {
    width: 197.914px;
    margin-top: 275.96px;
    margin-left: 404.63px;
}
.preco-entrada-prato-3 {
    margin-top: 266.96px;
}
.button-entrada-prato-3 {
    margin-top: 261.27px;
}
/* .entrada-prato-4 {

} */
.tex-entrada-prato-4 {
    width: 311px;
    margin-top: 301.96px;
}
.entrada-prato-4 svg {
    width: 179.106px;
    margin-top: 312.70px;
    margin-left: 423.44px;
}
.preco-entrada-prato-4 {
    margin-top: 303.96px;
}
.button-entrada-prato-4 {
    margin-top: 298.01px;
}
/* .entrada-prato-5 {

} */
.tex-entrada-prato-5 {
    width: 312px;
    margin-top: 337.96px;
}
.entrada-prato-5 svg {
    width: 168.753px;
    margin-top: 349.44px;
    margin-left: 433.80px;
}
.preco-entrada-prato-5 {
    margin-top: 339.96px;
}
.button-entrada-prato-5 {
    margin-top: 334.75px;
}

/* categoria sobremesas e lanches */
#sobremesas-lanches {
    width: 1290px;
    height: 643.20px;
    margin-top: 48px;
}
#sobremesas-lanches button {
    position: absolute;
    top: 0;
    left: 0;
    width: 72.665px;
    height: 29.392px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.conteiner-sobremesas-lanches svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: 1px;
    stroke: #000;
}
.sobremesas-lanches-titulos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28.58px;
}
.conteiner-sobremesas-lanches {
    width: 1283px;
    height: 532.16px;
    display: flex;
    justify-content: space-between;
}
/* sobremesas */
.conteiner-sobremesas {
    width: 622.139px;
    height: 527.43px;
    position: relative;  
}
.conteiner-sobremesas img {
    width: 100%;
}
.titulo-sobremesas {
    position: absolute;
    top: 0;
    left: 0;
    width: 213.911px;
    margin-top: 22.86px;
    margin-left: 203.65px;
}
/* .sobremesa-1 {

} */
.tex-sobremesa-1, .tex-sobremesa-2, .tex-sobremesa-3, .tex-sobremesa-4, .tex-sobremesa-5, .tex-lanches-1, .tex-lanches-2, .tex-lanches-3, .tex-lanches-4, .tex-lanches-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 248px;
}
.preco-sobremesa-1, .preco-sobremesa-2, .preco-sobremesa-3, .preco-sobremesa-4, .preco-sobremesa-5, .preco-lanches-1, .preco-lanches-2, .preco-lanches-3, .preco-lanches-4, .preco-lanches-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    font-weight: 700;
}
.tex-sobremesa-1 {
    margin-top: 130.65px;
    margin-left: 150.65px;
}
.sobremesa-1 svg {
    width: 79px;
    margin-top: 141.72px;
    margin-left: 359.65px;
}
.preco-sobremesa-1 {
    margin-top: 132.72px;
    margin-left: 443.65px;
    
}
.button-sobremesa-1 {
    margin-top: 130.73px;
    margin-left: 538.04px;
}
/* .sobremesa-2 {

} */
.tex-sobremesa-2 {
    margin-top: 197.73px;
    margin-left: 150.65px;
}
.sobremesa-2 svg {
    width: 140px;
    margin-top: 208.80px;
    margin-left: 298.65px;
}
.preco-sobremesa-2 {
    margin-top: 199.87px;
    margin-left: 443.65px;
}
.button-sobremesa-2 {
    margin-top: 197.73px;
    margin-left: 538.04px;
}
/* .sobremesa-3 {

} */
.tex-sobremesa-3 {
    margin-top: 272.73px;
    margin-left: 150.65px;
}
.sobremesa-3 svg {
    width: 73px;
    margin-top: 283.08px;
    margin-left: 364.65px;  
}
.preco-sobremesa-3 {
    margin-top: 274.31px;
    margin-left: 443.65px;
}
.button-sobremesa-3 {
    margin-top: 272.73px;
    margin-left: 538.04px;
}
/* .sobremesa-4 {

} */
.tex-sobremesa-4 {
    margin-top: 343.73px;
    margin-left: 150.65px;
}
.sobremesa-4 svg {
    width: 51px;
    margin-top: 363.16px;
    margin-left: 387.65px;
}
.preco-sobremesa-4 {
    margin-top: 354.46px;
    margin-left: 443.65px;
}
.button-sobremesa-4 {
    margin-top: 352.73px;
    margin-left: 538.04px;
}
/* .sobremesa-5 {

} */
.tex-sobremesa-5 {
    margin-top: 438.73px;
    margin-left: 150.65px;
}
.sobremesa-5 svg {
    width: 51px;
    margin-top: 449.82px;
    margin-left: 387.65px;
}
.preco-sobremesa-5 {
    margin-top: 440.92px;
    margin-left: 443.65px;
}
.button-sobremesa-5 {
    margin-top: 438.73px;
    margin-left: 538.04px;
}
/* lanches */
.conteiner-lanches {
    width: 622.139px;
    height: 527.43px;
    position: relative; 
}
.conteiner-lanches img {
    width: 100%;   
}
.titulo-lanches {
    position: absolute;
    top: 0;
    left: 0;
    width: 273px;
    margin-top: 22.86px;
    margin-left: 174px;
}
/* .lanches-1 {

} */
.tex-lanches-1 {
    margin-top: 107px;
    margin-left: 151px;
}
.lanches-1 svg {
    width: 106px;
    margin-top: 130px;
    margin-left: 332px;
}
.preco-lanches-1 {
    margin-top: 121px;
    margin-left: 444px;
}
.button-lanches-1 {
    margin-top: 119.29px;
    margin-left: 538.82px;
}
/* .lanches-2 {

} */
.tex-lanches-2 {
    margin-top: 189px;
    margin-left: 151px;
}
.lanches-2 svg {
    width: 73.007px;
    margin-top: 211.5px;
    margin-left: 365px;
}
.preco-lanches-2 {
    margin-top: 203px;
    margin-left: 444px;
}
.button-lanches-2 {
    margin-top: 200.94px;
    margin-left: 538.82px;
}
/* .lanches-3 {

} */
.tex-lanches-3 {
    width: 238px;
    margin-top: 263px;
    margin-left: 151px;
}
.lanches-3 svg {
    width: 105.971px;
    margin-top: 285.97px;
    margin-left: 332px;  
}
.preco-lanches-3 {
    margin-top: 277px;
    margin-left: 444px;
}
.button-lanches-3 {
    margin-top: 275.23px;
    margin-left: 538.82px;
}
/* .lanches-4 {

} */
.tex-lanches-4 {
    margin-top: 343.73px;
    margin-left: 151px;
}
.lanches-4 svg {
    width: 101px;
    margin-top: 366px;
    margin-left: 337px;
}
.preco-lanches-4 {
    margin-top: 357px;
    margin-left: 444px;
}
.button-lanches-4 {
    margin-top: 355.25px;
    margin-left: 538.82px;
}
/* .lanches-5 {

} */
.tex-lanches-5 {
    width: 228px;
    margin-top: 431px;
    margin-left: 151px;
}
.lanches-5 svg {
    width: 83.006px;
    margin-top: 448.5px;
    margin-left: 355px;
}
.preco-lanches-5 {
    margin-top: 439px;
    margin-left: 444px;
}
.button-lanches-5 {
    margin-top: 436.89px;
    margin-left: 538.82px;
}

/* categorias bebidas */
#bebidas button {
    position: absolute;
    top: 0;
    left: 0;
    width: 72.665px;
    height: 29.392px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#bebidas svg {
    position: absolute;
    top: 0;
    right: 0;
    stroke-width: 1px;
    stroke: #000;
}
.bebidas-cards {
    width: 1290px;
    margin-top: 28.58px;
    display: flex;   
    justify-content: space-around; 
}
.conteiner-bebidas {
    width: 1278.57px;
    height: 413.943px;
    position: relative; 
}
.conteiner-bebidas img {
    width: 100%;
}
.titulo-bebidas {
    position: absolute;
    top: 0;
    left: 0;
    width: 213.911px;
    margin-top: 33.48px;
    margin-left: 539.65px;
}
.titulo-sucos {
    position: absolute;
    top: 0;
    left: 0;
    width: 133px;
    margin-top: 127.19px;
    margin-left: 41.65px;
}
.titulo-refrigerantes {
    position: absolute;
    top: 0;
    left: 0;
    width: 232px;
    margin-top: 127.19px;
    margin-left: 659.65px;
}
/* .suco-1 {

} */
.tex-suco-1, .tex-suco-2, .tex-suco-3, .tex-suco-4, .tex-suco-5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    margin-left: 158.65px;
}
.preco-suco-1, .preco-suco-2, .preco-suco-3, .preco-suco-4, .preco-suco-5, .preco-refrigerante-1, .preco-refrigerante-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    font-weight: 700;
}
.tex-suco-1 {
    margin-top: 190.19px;
}
.suco-1 svg {
    width: 95px;
    margin-top: 201.19px;
    margin-right: 833.92px;
}
.preco-suco-1 {
    margin-top: 192.19px;
    margin-left: 450px;
}
.button-suco-1 {
    margin-top: 186.97px;
    margin-left: 546.21px;
}
/* .suco-2 {

} */
.tex-suco-2 {
    margin-top: 228.19px;
}
.suco-2 svg {
    width: 95px;
    margin-top: 239.19px;
    margin-right: 833.92px;
}
.preco-suco-2 {
    margin-top: 230.19px;
    margin-left: 450px;
}
.button-suco-2 {
    margin-top: 224.53px;
    margin-left: 546.21px;
}
/* .suco-3 {

} */
.tex-suco-3 {
    margin-top: 265.19px;
}
.suco-3 svg {
    width: 84.483px;
    margin-top: 276.78px;
    margin-right: 833.92px; 
}
.preco-suco-3 {
    margin-top: 268.19px;
    margin-left: 450px;
}
.button-suco-3 {
    margin-top: 262.08px;
    margin-left: 546.21px;
}
/* .suco-4 {

} */
.tex-suco-4 {
    margin-top: 303.19px;
}
.suco-4 svg {
    width: 111px;
    margin-top: 314.19px;
    margin-right: 833.92px;
}
.preco-suco-4 {
    margin-top: 305.19px;
    margin-left: 450px;
}
.button-suco-4 {
    margin-top: 299.64px;
    margin-left: 546.21px;
}
/* .suco-5 {

} */
.tex-suco-5 {
    margin-top: 340.19px;
}
.suco-5 svg {
    width: 92px;
    margin-top: 352.19px;
    margin-right: 833.92px;
}
.preco-suco-5 {
    margin-top: 343.19px;
    margin-left: 450px;
}
.button-suco-5 {
    margin-top: 337.20px;
    margin-left: 546.21px;
}
/* .refrigerante-1 {

} */
.tex-refrigerante-1, .tex-refrigerante-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 278.41px;
    margin-left: 777.65px;
}
.tex-refrigerante-1 {
    margin-top: 178.19px;
}
.refrigerante-1 svg {
    width: 25px;
    margin-top: 189.19px;
    margin-right: 215.92px;
}
.preco-refrigerante-1 {
    margin-top: 180.19px;
    margin-left: 1068.65px;
}
.button-refrigerante-1 {
    margin-top: 174.72px;
    margin-left: 1164.27px;
}
/* .refrigerante-2 {

} */
.tex-refrigerante-2 {
    margin-top: 284.19px;
}
.refrigerante-2 svg {
    width: 92px;
    margin-top: 295.19px;
    margin-right: 215.92px;
}
.preco-refrigerante-2 {
    margin-top: 286.19px;
    margin-left: 1068.65px;
}
.button-refrigerante-2 {
    margin-top: 280.86px;
    margin-left: 1164.27px;
}
.lista-refrigerante-1, .lista-refrigerante-2 {
    position: absolute;
    top: 0;
    left: 0;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    margin-left: 799.65px;
}
.lista-refrigerante-1 {
    margin-top: 209.19px;
}
.lista-refrigerante-2 {
    margin-top: 316.19px;
}

/* Pedidos */
.confira-pedido {
    width: 262px;
    margin-bottom: 30px;
}
.content {
    width: 1280px;
    display: flex;    
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 28.58px;
    padding: 49px 67px 49px 67px;
}
.content section {
    flex: 1;
}
.content aside {
    min-width: 250px;
    margin-left: 30px;
    margin-top: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 3px solid rgba(242, 189, 87, 0.20);
}
tbody tr:last-child {
    border: 0;
}
th {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 10px;
}
td {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0; 
}
.desc-pedido-campo {
    display: flex;
    align-items: center;
}
.desc-pedido-campo img {
    border-radius: 6px;
}
.info {
    margin-left: 20px;
}
.name {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .category {
    color: #98817a;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
.conteiner-quantidade {
    height: 30px;
    background: rgba(242, 189, 87, 0.10);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
}
.conteiner-quantidade span {
    margin: 0 10px;
}
.conteiner-quantidade button {
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 18px;
    height: 100%;
}
.remove-pedido {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.resumo-compra {
    margin-bottom: 15px;
    border: 0;
    background: rgba(242, 189, 87, 0.10);
}
.resumo-compra-titulo {
    padding: 15px 20px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    border-bottom: 1px solid rgba(242, 189, 87, 0.50);
}
.resumo-descricao {
    padding: 20px;
}
.resumo-descricao div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resumo-descricao div:last-child {
    margin-bottom: 0;
}
.resumo-total {
    padding: 15px 20px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    background: rgba(242, 189, 87, 0.20);
    display: flex; 
    justify-content: space-between;   
}
.button-resumo-compra {
    width: 100%;
    height: 42px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}
.radio-titulo {
    width: 411px;
    margin-top: 11px;
}
#receber-delivery {
    margin-left: 50px;
}
/* Delivery */
.delivery {
    width: 1290px;
    margin-top: 48px; 
}
.form-delivery {
    width: 1280px;
    height: auto;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 28.58px;
    padding: 49px 67px 49px 67px;
    display: flex;
    justify-content: space-between;
}
.form-delivery label {
    width: auto;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 11px;
}
.form-delivery input {
    width: 500px;
    height: 51px;
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.00);
    margin-top: 10px;
    margin-bottom: 11px;
}
.form-delivery img {
    margin-top: 70px;
    margin-right: 50px;
}