h1 {
    color: #000;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 127px;
}
h2{
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3 {
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h4 {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5 {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
h6 {
    /* botão G  */
    color:#4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
p {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
button {
    cursor: pointer;
}
button:hover {
    box-shadow: 0px 0px 10px #F2BD57;
}

.hero-cardapio {
    width: 1288px;
    height: 681px;
    flex-shrink: 0;
    height: 681px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.hero-texto {
    height: 681px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.titulo-cardapio {
    width: 325px;
}
.subtitulo-1 {
    width: 551px;
    margin-top: 68px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subtitulo-2 {
    width: 551px;
    margin-top: 71px;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subtitulo-3 {
    width: 315px;
    margin-top: 17px;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-delivery {
    margin-top: 48px;
    border-radius: 48px;
    background: #F2BD57;
    width: 173px;
    height: 70px;
    border: none;
    font-size: 100%;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-hero {
    width: 680px;
    height: 681px;
}
.categorias-cardapio {
    width: 1290px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-categorias {
    color: #000;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icones-categorias {
    width: 1290px;
    height: 132px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
}

/* Cards */
#especiais, #entradas, #saladas, #carnes, #vegetarianas-massas, #acompanhamentos, #sobremesas, #lanches, #bebidas, #pedidos, #delivery, #bebidas {
    width: 1290px;
    margin-top: 48px;
}
.especiais-titulo, .entradas-titulo, .saladas-titulo, .carnes-titulo, .vegetarianas-titulo, .acompanhamentos-titulo, .sobremesas-titulo, .lanches-titulo, .bebidas-titulo, .pedido-titulo, .delivery-titulo {
    width: 380px;
    height: 82px;
    border-radius: 259px;
    background: #F8F2E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vegetarianas-massas-titulos {
    display: flex;
    justify-content: space-between;
}
.massas-titulo {
    width: 310px;
    height: 82px;
    border-radius: 259px;
    background: #F8F2E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.especiais-cards, .entradas-cards, .saladas-cards, .carnes-cards, .vegetarianas-massas-cards, .acompanhamentos-cards, .sobremesas-cards, .lanches-cards, .bebidas-cards {
    width: 1290px;
    display: flex; 
    flex-wrap: wrap;   
}
.conteiner-especiais, .conteiner-Entradas, .conteiner-Saladas, .conteiner-Carnes, .conteiner-VegetarianaMassas, .conteiner-Acompanhamentos, .conteiner-sobremesas, .conteiner-lanches, .conteiner-bebidas { 
    width: 293.924px;
    height: 413.943px;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 28px;
    position: relative;
}
.imagemProduto {
    width: 155.127px;
    height: 146.962px;
    margin-top: 13.06px;
    margin-left: 69.1px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.tituloProduto {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 169px;   
    margin-left: 38.1px;
}
.imagemEstrelas {
    width: 131px;
    height: 23px;
    margin-top: 80px;
    margin-left: 81.1px;
}
.descProduto {
    position: absolute;
    top: 0;
    left: 0;
    width: 283px;
    text-align: center;
    margin-top: 271.96px; 
    margin-left: 5.46px;       
}
.precoProduto {
    position: absolute;
    top: 0;
    left: 0;
    width: 102px;
    text-align: center; 
    margin-top: 358.96px; 
    margin-left: 14.1px; 
}
.buttonProduto {
    position: absolute;
    top: 0;
    right: 0;
    width: 102.873px;
    height: 41.639px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color:#4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    margin-top: 348.63px; 
    margin-right: 18.78px;    
}

/* Pedidos */
.confira-pedido {
    width: 262px;
    margin-bottom: 30px;
}
.content {
    width: 1280px;
    display: flex;    
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 28.58px;
    padding: 49px 67px 49px 67px;
}
.content section {
    flex: 1;
}
.content aside {
    min-width: 250px;
    margin-left: 30px;
    margin-top: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 3px solid rgba(242, 189, 87, 0.20);
}
tbody tr:last-child {
    border: 0;
}
th {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 10px;
}
td {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 0; 
}
.desc-pedido-campo {
    display: flex;
    align-items: center;
}
.desc-pedido-campo img {
    border-radius: 6px;
}
.info {
    margin-left: 20px;
}
.name {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
#quantCart {
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40px;
    text-align: center;
    height: 30px;
    background: rgba(242, 189, 87, 0.10);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #F2BD57;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    box-shadow: 0px 0px 10px #F2BD57;
    margin: 0;
}
input[type="number"]{
    outline:none;
}
.remove-pedido {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.resumo-compra {
    margin-bottom: 15px;
    border: 0;
    background: rgba(242, 189, 87, 0.10);
}
.resumo-compra-titulo {
    padding: 15px 20px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    border-bottom: 1px solid rgba(242, 189, 87, 0.50);
}
.resumo-descricao {
    padding: 20px;
}
.resumo-descricao div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resumo-descricao div:last-child {
    margin-bottom: 0;
}
.resumo-total {
    padding: 15px 20px;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    background: rgba(242, 189, 87, 0.20);
    display: flex; 
    justify-content: space-between;   
}
.button-resumo-compra {
    width: 100%;
    height: 42px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}
.radio-titulo {
    width: 411px;
    margin-top: 11px;
}
#receber-delivery {
    margin-left: 50px;
}

/* Delivery */
.delivery {
    width: 1290px;
    margin-top: 48px; 
}
.form-delivery {
    width: 1280px;
    background-color: #FFFFFF;
    color: #4F2F24;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 8px #dfdfdf;
    padding: 49px 67px;
    margin-top: 28.58px;
    display: flex;
    justify-content: space-between;
}
.form-delivery label {
    width: auto;
    color: #4F2F24;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-delivery input {
    width: 500px;
    height: 51px;
    border-radius: 10px;
    border: 1px solid #b1afaf;
    color: #757575;
    outline: none;
    padding: 10px;
    margin-top: 10px;
}
.input-num::-webkit-outer-spin-button,
.input-num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.button-enviar-pedido {
    width: 160px;
    height: 42px;
    border-radius: 48px;
    border: 2px solid #F2BD57;
    background: #FFFCF7;
    color: #4F2F24;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 41px;
}
.form-delivery img {
    margin-top: 70px;
    margin-right: 50px;
}
.input-name:focus {
    box-shadow: inset 0px 0px 2px 2px #F2BD57;
}
.input-telefone:focus {
    box-shadow: inset 0px 0px 2px 2px #F2BD57;
}
.input-email:focus {
    box-shadow: inset 0px 0px 2px 2px #F2BD57;
}
.input-endereco:focus {
    box-shadow: inset 0px 0px 2px 2px #F2BD57;
}
.input-num:focus {
    box-shadow: inset 0px 0px 2px 2px #F2BD57;
}

/* popups */
label[for="username"],
label[for="phone"],
label[for="email"],
label[for="endereco"],
label[for="numero"] {
    position: relative;
}
.required-popup::after {
    content: "*Campo Obrigatório";
    position: absolute;
    top: 0;
    left: 0;
    color: #4F2F24;
    font-size: 12px;
    text-align: center;
    padding: .2rem .3rem;
    border-radius: 10px;
    width: 110px;
    display: block;
    background-color: #F2BD57;
    margin-left: 380px;
}

/* Erros Form */
input.error {
    background-color: #CCBBBB;
    color: #662020;
}
input.correct {
    background-color: #BBCCBB;
    color: #206620;
}
#username-helper,
#phone-helper,
#email-helper,
#endereco-helper,
#num-helper {
    display: none;
    font-size: 13px;
}
.error-container {
    margin-bottom: 20px;
    padding-top: 5px;
    display: flex;
}
#username-helper.visible,
#email-helper.visible,
#phone-helper.visible,
#endereco-helper.visible,
#num-helper.visible {
    display: block;
}
label[for="email"].required-popup::after {
    top: 0.10rem;
    /* Ajuste a distância conforme necessário */
}
label[for="phone"].required-popup::after {
    top: 0.20rem;
    /* Ajuste a distância conforme necessário */
}
label[for="endereco"].required-popup::after {
    top: 0.10rem;
    /* Ajuste a distância conforme necessário */
}
label[for="numero"].required-popup::after {
    top: 0.50rem;
    /* Ajuste a distância conforme necessário */
}
.pedido-delivery {
    width: 500px;
    height: 51px;
    border-radius: 10px;
    border: 1px solid #b1afaf;
    color: #757575;
    outline: none;
    padding: 10px;
    margin-top: 10px;
}
