.titulo {
    padding-top: 30px;
}

.subtitulo {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.conteiner-conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    gap: 15px;
}

.content {
    width: 950px;
    height: 700px;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    border-radius: 10px;
}

.content .imagens {
    height: 100%;
    width: 100%;    
}

.imagens img {
    height: 100%;
    width: 100%;  
}

.btm-sliders {
    position: absolute;
    bottom: 20px;
    color: #4F2F24;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.btm-sliders span {
    height: 28px;
    width: 80px;
    background: #FFFFFF;
    border-radius: 10px;
    margin:  3px;
    cursor: pointer;
    text-align: center;
    padding-top: 4px;
}



.content .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    width: 45px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px;
    color: #4F2F24;
}

.content .slide:hover{
    background: #F2BD57;
    border: 2px solid #F2BD57;
} 

.content .right {
    right: 0;
}

.observacoes-atendimento {
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 80px;
}

.texto-atendimento {
    position: absolute;
    color: white;
    top: 200px;
    margin-left: 200px;
    width: 500px;
    text-align: center;
}

.titulo-atendimento {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
}

.paragrafo-atendimento {
    font-family: 'Roboto';
    font-size: 14px;
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-conteudo {
    background-color: #FFFFFF;
    color: #4F2F24;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 8px #dfdfdf;
    width: 400px;
}

.button-enviar {
    padding: 10px;
    border-radius: 10px;
    background: #F2BD57;
    width: 100%;
    border: none;
    font-size: 100%;
    font-family: 'Roboto';
    color: #4F2F24;
    font-weight: 700;
    cursor: pointer;
}

.input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #757575;
    color: #757575;
}

.pessoas-telefone {
    display: flex;
}

.date-time {
    display: flex;
}

.input-pessoas {
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    border: 1px solid #757575;
    color: #757575;
}

.input-telefone {
    padding: 10px;
    border-radius: 10px;
    width: 180px;
    border: 1px solid #757575;
    color: #757575;
}

.input-date {
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    color: #757575;
    border: 1px solid #757575;
    font-family: 'Roboto';
}

.input-time {
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    color: #757575;
    border: 1px solid #757575;
    font-family: 'Roboto';
}

.box-cupom {
    display: flex;
    justify-content: space-between;
    border: 1px solid #757575;
    border-radius: 10px;
    padding: 10px;
}

.input-cupom {
    border: none;
    width: 70%;
    color: #757575;
}

.button-resgatar {
    padding: 5px;
    border-radius: 10px;
    background: #F2BD57;
    width: 25%;
    border: none;
    font-size: 100%;
    font-family: 'Roboto';
    color: #4F2F24;
    font-weight: 700;
    cursor: pointer;
}

.select {
    padding: 10px;
    border-radius: 10px;
    color: #757575;
}

.radio-titulo {
    padding-bottom: 10px;
}

.textearea {
    border-radius: 10px;
    padding: 10px;
    color: #757575;
    font-family: 'Roboto';
    resize: none;
    height: 150px;
}


/* Erros Form */

.input.error {
    border: solid 2px #992020;
    color: #662020;
}

.error-text {
    display: block;
    font-size: .7rem;
    font-weight: 600;
    color: #992020;
}