.container {
    max-width: 645px; /* Reduzimos a largura do container */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px; /* Aumentamos a margem inferior entre os grupos de formulário */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buton-form {
    width: 100%;
    padding: 10px;
    background-color: #F2BD57;
    color: #4F2F24;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buton-form:hover {
    background-color: #f2cd89;
}
